/* PPGS */


/* @import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab'); */
@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans');

h1,h2,h3,h4{
  font-family:  'Roboto', serif;
  font-weight: normal;
}

p, div, a, a:visited{
  font-family: 'Open Sans', sans-serif;
  color: #4E4E4E;
}

a, a:visited{
  color:#468997;
}

ul{
  padding-left: 5px;
}

li{
  list-style-type: none;
}

/* PPGS  - CORES */

.ppgs-cor-bg-cinza{
 background-color: #BFC5C9;
}

.ppgs-cor-cinza{
 color: #BFC5C9;
}

.ppgs-cor-cinza-escuro{
 color: #4C4C4C;
}

.ppgs-cor-bg-verde{
 background-color: #468997;
}



/* HEADER */




/* HEADER - LOGO */

.ppgs-logo-header img{
 display: block;
 margin: 5px auto;
}



/* HEADER - NAV */

.navbar{
 height: 35px;
 color:#4C4C4C;
}

.navbar-nav{

}

.navbar ul{
  margin: 0 auto;
}

.navbar .dropdown-menu{
  background-color: #BFC5C9;
  margin-top: -5px;
  margin-left: -1px;
  border: none;
}

.navbar ul li{
  margin-left: 15px;
}

.navbar-inverse .navbar-nav .active>.nav-link{
 background-color: #468997;
}

.navbar-inverse .navbar-nav .nav-link {
  color: #4C4C4C;
}

.navbar-collapse{
  z-index: 1000;
}

.navbar-toggler-right {
    top: -6rem;
}


/* HEADER - TITULO */
.ppgs-titulo-pagina{
  background-color: #468997;
  height: 120px;
}

.ppgs-titulo-pagina h1{

  color: white;
  display: inline;
  position: relative;
  top: 50%;
}

.ppgs-titulo-pagina h4{
  color: white;
}

.ppgs-titulo-pagina-img{
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ppgs-titulo-pagina-img h1{
  background-color: #4C4C4C ;
  color: white;
  display: inline;
  position: relative;
  top: 50%;

}





/* INDEX - SLIDER */

.carousel{
 height: 300px;
 overflow: hidden;
}

.carousel-caption{
 bottom: 25% !important;
}

.ppgs-slider{
 border-bottom: 10px solid  #468997;
 z-index: 100;
}

.carousel-caption h3{
  color: #157283;
}

.carousel-caption h3, .carousel-caption p,  .carousel-caption a  {
  background-color:  rgba(191,197,201,0.7);
  padding: 5px 18px;
  margin-bottom: 10px;
  display: inline;
}

.carousel-caption p{
  color: #4C4C4C;
  line-height: 2;
}

 .carousel-caption a {
    background-color:  #157283;
    padding: 10px 15px;
    color: white;
  }

  .carousel-caption a:hover {
    background-color: white  ;
    color: #157283;
    text-decoration: none;;
  }

.carousel-caption-slide-fotos {
    background-color:  rgba(255,255,255,0.7);
    left: unset;
    z-index: 10;
    text-align: right;
    padding: 10px 0px;
}

.carousel-caption-slide-fotos p{
  display: block;
  background-color: unset;
  margin: 0;
  font-size: 11px;
  margin-bottom: -16px;
  margin-top: -16px;
  color: #4C4C4C;
}

.carousel-item{
  height: 300px;
}

.carousel-item img{
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.carousel-item-slide-foto img{
  display: block;
  width: unset;
  height: 100vh;
  object-fit: cover;
}




/* INDEX - NOTICIA */

.ppgs-box-noticia {
    /*height: 50px;*/
    overflow: hidden;
    margin-bottom: 30px;
    border-left: 2px solid #dae1e5;
}

.ppgs-box-noticia  span a{
    background-color: #dae1e5;
    color: #4C4C4C;
    font-size: 11px;
    padding: 2px 6px;
}

.ppgs-box-noticia  span a:hover{
  text-decoration: none;
}

.ppgs-box-noticia-header{
 font-size: 18px;
 margin-bottom: 1px;
}

.ppgs-box-noticia-data + span span{
  font-size: 12px;
  background-color: #EAEAE9;
  margin-right: 5px;
  padding: 2px 6px;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}



.ppgs-box-noticia-data{
 font-size: 12px;
 margin-bottom: 4px;
 display: inline-block;
}

.ppgs-box-noticia-descricao{
 line-height: 1;
 font-size: 15px;
}

.ppgs-link-todas-noticias{
 font-size: 16px;
 margin-bottom: 0;
 margin-top: 30px;
}

.ppgs-cats a{
  font-size: 12px;
}


/* INDEX - EVENTO */

.ppgs-box-evento{
 height: 80px;
 overflow: hidden;
 margin-bottom: 20px;
}

.ppgs-box-evento-img{
 width: 100%;
 height: 80px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border: 1px solid #BFC5C9;

}

.ppgs-box-evento-header{
 font-size: 16px;
 margin-bottom: 0;
}

.ppgs-box-evento-data{
 margin-bottom: 0;
 margin-top: 2px;
 font-size: 13px;
 font-weight: bold;

}

.ppgs-box-evento-local{
 margin-bottom: 0;
 font-size: 12px;
}

.ppgs-box-evento-descricao{
 line-height: 1;
 font-size: 14px;
}

.ppgs-link-todos-ventos{
 font-size: 16px;
 margin-bottom: 0;
 margin-top: 30px;

}


/* FOOTER */

.ppgs-footer-topo{
 height: 300px;
}

.ppgs-footer-fundo{
 margin-top: 50px;
 height: 100px;
}

.ppgs-footer-topo .ppgs-footer-maps{
 margin: 20px 20px;

}

#wpgmza_map{
  display: unset;
  overflow: unset;
  width: unset;
  float: unset;
}

.ppgs-footer-topo .ppgs-footer-contato{

    margin-top: 40px;
}

.ppgs-footer-topo .ppgs-footer-contato ul{
   padding-left: 0px;
   margin-left: -40px;
   list-style-type: none;
   font-size: 12px;
}

.ppgs-footer-topo .ppgs-footer-contato ul li{
 margin-bottom: 10px;
}

.ppgs-footer-logo-outros{
 height: 30px;
 position: relative;
 display: block;
 margin: 0 auto;
}

.ppgs-footer-logo-revista {
     height: 60px;
    margin-top: 20px;
    margin-left: -30px;
}

.footer-revista-capa{
 height: 300px;
}

.footer-revista-descricao{
   font-size: 15px;
    line-height: 1.3;
}

.footer-revista-capa-img{

 height: 260px;
 width: 190px;
 overflow: hidden;
 background-position:  center top ;
 background-size: 100%;
 position: relative;
 margin: 0 auto;
 top: 50%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.footer-revista-info ul {
 list-style-type: none;
 padding: 0;
 margin-left: -30px;
}

.footer-revista-info ul li {
 margin-bottom: 5px;
}

/* EVENTOS */

.ppgs-evento-img{
 width:100%;
 height: 180px;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
border-left: 4px solid #468997;
}


/* CORPO DOCENTE */

.ppgs-box-cp-img{
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ppgs-box-cp-img-single{
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid grey;
}

.ppgs-box-cp-header{
 font-size: 18px;
 margin-bottom: 1px;
}

.ppgs-box-cp-info{
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: 5px;
}

.corpo-docente-single-p{
  margin: 0;
  margin-bottom: 5px;
}

.corpo-docente-single-p span{
  font-size: 12px;
  padding-left: 15px;
}


/* PRODUCAO */


.ppgs-producao-img{
 width:100%;
 height: 160px;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;

}

.ppgs-box-producao-header{
 font-size: 16px;
 margin-bottom: 8px;
}

.ppgs-box-dissertacao-header{
 font-size: 20px;
 margin-bottom: 8px;
}

.ppgs-box-producao-autor-e-data{
   font-size: 12px;
   margin-bottom: 10px;
}

.ppgs-box-producao-data{
 font-size: 12px;
}

.ppgs-box-producao-descricao{
 line-height: 1;
 font-size: 14px;
   margin-top: 0px;
}

.ppgs-producao-dissertacao-link{
  font-size: 14px;
}

/* SIDEBAR */

.ppgs-sidebar-noticias{
    padding-bottom: 8px;
    padding-right: 4px;
    padding-left: 8px;
    margin-bottom: 12px;
    border-bottom: 1px solid #e6e6e6;
}

#sidebar{
    border-left: 2px solid #dae1e5;
    margin-top: 30px;
    padding-top: 10px;
}

.ppgs-sidebar-box{
    padding: 20px;
    border: 1px solid rgba(212, 211, 211, 0.18);
    background-color: rgba(222, 222, 222, 0.14);
}



/* SIDEBAR */

.ppgs-box-selecao-header{
 font-size: 18px;
 margin-bottom: 1px;
}

.ppgs-box-selecao-header span{
   font-size: 13px;
   background-color: #468997;
   color: white;
   padding: 4px 6px;
   width: 65px;
   display: inline-block;
   text-align: center;
}

.ppgs-box-selecao-header span a{
   color: white;
}